In [1]:
import pandas as pd
import datetime
import numpy as np
import statistics
import yfinance as yf

In [2]:
df = pd.read_excel('/Users/brunopimentel/Downloads/Historic_final_Bruno.xlsx')
df['time_setup'] = df['time_setup'].dt.date
df

,Unnamed: 0,position_id,symbol,type,time_setup,volume_initial,price,sl,tp,time_setup2,second_price,swap,profit,tiempo,pip_size,pips,pips_acum,profit_acum
0,0,45386469,EURUSD,buy,2021-09-17,0.01,1.17763,0.00000,0.00000,2021-09-17 15:57:17,1.17755,0.00,-0.08,0.000937,1.00,-0.00008,-0.00008,-0.08
1,1,45386511,EURUSD,buy,2021-09-17,0.01,1.17771,1.17711,0.00000,2021-09-17 16:05:37,1.17711,0.00,-0.60,0.005567,1.00,-0.00060,-0.00068,-0.68
2,2,45429195,GBPJPY,buy,2021-09-21,0.50,149.59500,134.31000,150.00000,2021-09-23 09:46:57,150.00200,-2.63,185.21,2.398252,100.00,40.70000,40.69932,184.53
3,3,45442638,AUDCHF,buy,2021-09-21,0.05,0.66909,0.66636,0.67275,2021-09-21 18:01:26,0.66635,0.00,-335.09,0.074722,1.00,-0.00274,40.69658,-150.56
4,4,45443462,AMZN.O,buy,2021-09-21,1.00,3361.99000,3269.55000,3386.17000,2021-09-22 22:22:14,3386.17000,-0.27,24.18,1.241296,0.01,0.24180,40.93838,-126.38
5,5,45452756,USDCAD,buy,2021-09-21,1.00,1.28073,1.27182,1.28363,2021-09-22 21:04:30,1.27197,-3.13,-688.70,1.000058,1.00,-0.00876,40.92962,-815.08
6,6,45452972,MMM.N,buy,2021-09-21,0.50,178.46000,173.00000,182.00000,2021-09-23 16:39:16,182.06000,-0.02,1.80,1.804190,0.01,0.03600,40.96562,-813.28
7,7,45479303,AAPL.O,buy,2021-09-22,2.00,145.39000,140.39000,147.50000,2021-10-01 16:55:05,140.39000,-0.18,-10.00,8.789051,0.01,-0.05000,40.91562,-823.28
8,8,45479654,FB.O,buy,2021-09-22,2.00,342.88000,330.00000,350.00000,2021-09-24 18:49:09,350.00000,-0.10,14.24,1.863403,0.01,0.07120,40.98682,-809.04
9,9,45503129,EURGBP,buy,2021-09-23,5.00,0.85425,0.84000,0.85562,2021-09-23 23:49:16,0.85563,0.00,946.53,0.167662,1.00,0.00138,40.98820,137.49
10,10,45710008,GBPUSD,sell,2021-10-05,2.00,1.36290,1.38000,1.35700,2021-10-06 10:49:43,1.35700,-6.53,1180.00,0.798414,1.00,0.00590,40.99410,1317.49
11,11,45710165,EURGBP,buy,2021-10-05,3.00,0.85103,0.84000,0.85300,2021-10-05 15:47:20,0.85103,0.00,0.00,0.000000,1.00,0.00000,40.99410,1317.49
12,12,45710311,EURJPY,sell,2021-10-05,1.00,129.06300,129.50400,128.70000,2021-10-06 08:10:55,129.50400,-1.51,-394.63,0.676968,100.00,-44.10000,-3.10590,922.86
13,13,45710474,GBPJPY,sell,2021-10-05,1.00,151.52000,152.00000,151.42000,2021-10-06 11:02:17,151.42000,-3.89,89.56,0.789942,100.00,10.00000,6.89410,1012.42
14,14,45747805,USDJPY,buy,2021-10-06,0.01,111.35800,110.60000,111.51000,2021-10-07 12:25:25,111.51100,-7.46,564.55,0.745382,100.00,15.30000,22.19410,1576.97
15,15,45747887,AUDCHF,buy,2021-10-06,4.00,0.67291,0.65000,0.67391,2021-10-06 20:39:48,0.67391,0.00,430.93,0.087025,1.00,0.00100,22.19510,2007.90
16,16,45747976,AAL.O,buy,2021-10-06,2.00,20.44000,19.01000,20.91000,2021-10-06 18:39:16,20.44000,0.00,0.00,0.000000,0.01,0.00000,22.19510,2007.90
17,17,45748041,TM.N,buy,2021-10-06,5.00,166.14000,161.00000,168.00000,2021-10-07 16:31:05,168.12000,-0.07,9.90,0.908935,0.01,0.01980,22.21490,2017.80
18,18,45748113,IR.N,buy,2021-10-06,3.00,50.34000,49.30000,51.05000,2021-10-06 20:34:02,51.05000,0.00,2.13,0.076262,0.01,0.00710,22.22200,2019.93
19,19,45748170,PFE.N,buy,2021-10-06,4.00,41.81000,41.00000,42.05000,2021-10-07 16:31:05,42.37000,-0.01,2.24,0.906319,0.01,0.00560,22.22760,2022.17

In [55]:
capital = 100000
df2 = pd.DataFrame(df.groupby(['time_setup']).sum())
data =pd.DataFrame()
data['time'] = df['time_setup'].unique()
data['profit_d'] = np.array(df2['profit'])
data['profit_acm_d'] = data['profit_d'] + capital
i = 0
n = len(data)-1
for i in range (n):
    data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]
data

<ipython-input-55-77bef671176f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

         time  profit_d  profit_acm_d
0  2021-09-17     -0.68      99999.32
1  2021-09-21   -812.60      99186.72
2  2021-09-22      4.24      99190.96
3  2021-09-23    946.53     100137.49
4  2021-10-05    874.93     101012.42
5  2021-10-06   1009.75     102022.17

In [4]:
def f_evolucion_capital(data):
    capital = 100000
    df2 = pd.DataFrame(df.groupby(['time_setup']).sum())
    data =pd.DataFrame()
    data['time'] = df['time_setup'].unique()
    data['profit_d'] = np.array(df2['profit'])
    data['profit_acm_d'] = data['profit_d'] + capital
    i = 0
    n = len(data)-1
    for i in range (n):
        data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]
    return data

In [5]:
f_evolucion_capital(df)

<ipython-input-4-cbe7f1ae9d0e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

         time  profit_d  profit_acm_d
0  2021-09-17     -0.68      99999.32
1  2021-09-21   -812.60      99186.72
2  2021-09-22      4.24      99190.96
3  2021-09-23    946.53     100137.49
4  2021-10-05    874.93     101012.42
5  2021-10-06   1009.75     102022.17

In [6]:
# Sharpe Ratio Original:
rend = np.log(data.profit_acm_d) - np.log(data.profit_acm_d.shift(1))
rend = rend.dropna()
prom_rend_log = np.mean(rend)
rf = .05
des_est = statistics.pstdev(rend)
Sharpe_O = (prom_rend_log-rf)/des_est

In [98]:
precios_sp500 = yf.download('^GSPC', start= '2021-09-17', end='2021-10-06', interval='1d') 
precios_sp500.drop(['Open', 'High', 'Low', 'Volume', 'Adj Close'], axis=1, inplace=True)
precios_sp500['Date'] = precios_sp500.index
precios_sp500

[*********************100%***********************]  1 of 1 completed

                  Close       Date
Date
2021-09-17  4432.990234 2021-09-17
2021-09-20  4357.729980 2021-09-20
2021-09-21  4354.189941 2021-09-21
2021-09-22  4395.640137 2021-09-22
2021-09-23  4448.979980 2021-09-23
2021-09-24  4455.479980 2021-09-24
2021-09-27  4443.109863 2021-09-27
2021-09-28  4352.629883 2021-09-28
2021-09-29  4359.459961 2021-09-29
2021-09-30  4307.540039 2021-09-30
2021-10-01  4357.040039 2021-10-01
2021-10-04  4300.459961 2021-10-04
2021-10-05  4345.720215 2021-10-05

In [89]:
capital = 100000
df2 = pd.DataFrame(df.groupby(['time_setup']).sum())
data =pd.DataFrame()
data['time'] = df['time_setup'].unique()
data['profit_d'] = np.array(df2['profit'])
data['profit_acm_d'] = data['profit_d'] + capital
i = 0
n = len(data)-1
for i in range (n):
    data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]
data

<ipython-input-89-77bef671176f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

         time  profit_d  profit_acm_d
0  2021-09-17     -0.68      99999.32
1  2021-09-21   -812.60      99186.72
2  2021-09-22      4.24      99190.96
3  2021-09-23    946.53     100137.49
4  2021-10-05    874.93     101012.42
5  2021-10-06   1009.75     102022.17

In [100]:
x = pd.DataFrame()

while i == 11:
    if precios_sp500['Date'].dt.date[i] in data['time'][i]:
        x['time'] = precios_sp500['Date'].dt.date[i]
        i = i + 1
    else:
        x['time'][i] = precios_sp500['Date'].dt.date[i]
        i = i+1
        
x

Empty DataFrame
Columns: []
Index: []

In [101]:
precios_sp500['Date'].dt.date[0]

datetime.date(2021, 9, 17)

In [102]:
data['time'][0]

datetime.date(2021, 9, 17)