In [1]:
import pandas as pd
import datetime
import numpy as np
import statistics
import yfinance as yf

In [28]:
df = pd.read_excel('/Users/brunopimentel/Downloads/Historic_final_Chelsi.xlsx')
df['time_setup'] = df['time_setup'].dt.date

In [18]:
capital = 100000

df2 = pd.DataFrame(df.groupby(['time_setup']).sum())
idx = pd.date_range('2021-09-17', '2021-10-06')
df2.index = pd.DatetimeIndex(df2.index)
df2 = df2.reindex(idx, fill_value=0)

data =pd.DataFrame()
data['time'] = df2.index.unique()
data['profit_d'] = np.array(df2['profit'])
data['profit_acm_d'] = data['profit_d'] + capital
i = 0
n = len(data)-1
for i in range (n):
    data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

<ipython-input-18-ceb950e36ece>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

In [30]:
df2

,Unnamed: 0,position_id,volume_initial,price,sl,tp,second_price,swap,profit,tiempo,pip_size,pips,pips_acum,profit_acum
2021-09-17,0,45386433,0.01,1.17765,1.1716,0.00,1.17159,-0.20,-6.06,4.107766,1.00,-0.00606,-0.00606,-6.06
2021-09-18,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-19,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-20,3,90857059,0.10,29576.28145,1.2700,1.29,30001.28199,-0.13,129.18,1.436088,26.00,10625.00054,10624.98896,118.74
2021-09-21,25,227264661,0.34,16035.09000,8910.8800,8957.00,16052.07000,-0.27,9.71,4.183368,0.05,0.16980,53125.28140,634.05
2021-09-22,27,136429743,1.15,1403.30000,1391.0000,1421.00,1421.30000,-0.06,2.38,2.831296,0.03,0.03940,31875.69904,409.58
2021-09-23,81,273027838,5.23,93037.86463,44675.0900,93433.46,92659.03911,-2.48,-831.39,4.953704,6.04,-4.58562,63737.69866,-2536.03
2021-09-24,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-25,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-26,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-27,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-28,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-29,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-09-30,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-10-01,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-10-02,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-10-03,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-10-04,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-10-05,0,0,0.00,0.00000,0.0000,0.00,0.00000,0.00,0.00,0.000000,0.00,0.00000,0.00000,0.00
2021-10-06,35,91502520,1.00,54779.95000,55750.0000,197.00,55967.27000,-15.46,-572.23,1.022523,0.02,-11.83620,21217.54522,-2557.33

In [19]:
def f_evolucion_capital(data):
    capital = 100000

    df2 = pd.DataFrame(df.groupby(['time_setup']).sum())
    idx = pd.date_range('2021-09-17', '2021-10-06')
    df2.index = pd.DatetimeIndex(df2.index)
    df2 = df2.reindex(idx, fill_value=0)

    data =pd.DataFrame()
    data['time'] = df2.index.unique()
    data['profit_d'] = np.array(df2['profit'])
    data['profit_acm_d'] = data['profit_d'] + capital
    i = 0
    n = len(data)-1
    for i in range (n):
        data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]
    return data
# Llenar datos entre fechas

In [20]:
f_evolucion_capital(df)

<ipython-input-19-e78c21a7386e>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

         time  profit_d  profit_acm_d
0  2021-09-17     -6.06      99993.94
1  2021-09-18      0.00      99993.94
2  2021-09-19      0.00      99993.94
3  2021-09-20    129.18     100123.12
4  2021-09-21      9.71     100132.83
5  2021-09-22      2.38     100135.21
6  2021-09-23   -831.39      99303.82
7  2021-09-24      0.00      99303.82
8  2021-09-25      0.00      99303.82
9  2021-09-26      0.00      99303.82
10 2021-09-27      0.00      99303.82
11 2021-09-28      0.00      99303.82
12 2021-09-29      0.00      99303.82
13 2021-09-30      0.00      99303.82
14 2021-10-01      0.00      99303.82
15 2021-10-02      0.00      99303.82
16 2021-10-03      0.00      99303.82
17 2021-10-04      0.00      99303.82
18 2021-10-05      0.00      99303.82
19 2021-10-06   -572.23      98731.59

In [21]:
# Sharpe Ratio Original:
rend = np.log(data.profit_acm_d) - np.log(data.profit_acm_d.shift(1))
rend = rend.dropna()

prom_rend_log = np.mean(rend)

rf = .05

des_est = statistics.pstdev(rend)

Sharpe_O = (prom_rend_log-rf)/des_est

In [22]:
# Descarga de precios standard and poor's 500
fecha_inicial = df['time_setup'][0]
fecha_final = df['time_setup'][len(df)-1]

precios_sp500 = yf.download('^GSPC', start= fecha_inicial, end=fecha_final, interval='1d') 
precios_sp500.drop(['Open', 'High', 'Low', 'Volume', 'Adj Close'], axis=1, inplace=True)
precios_sp500['Date'] = precios_sp500.index

[*********************100%***********************]  1 of 1 completed

In [23]:
# Sharpe Ratio Actualizado:
rend_porta = np.log(data.profit_acm_d) - np.log(data.profit_acm_d.shift(1))
rend_sp500 = np.log(precios_sp500.Close) - np.log(precios_sp500.Close.shift(1))

rend_porta = rend_porta.dropna()
rend_sp500 = rend_sp500.dropna()

prom_rend_porta_log = np.mean(rend_porta)
prom_rend_sp500_log = np.mean(rend_sp500)

des_est = prom_rend_porta_log - prom_rend_sp500_log

Sharpe_A = (prom_rend_porta_log - prom_rend_sp500_log)/des_est

In [24]:
# DrawDown (Capital):
# Drown down de los 100,000 a los -812.6
data  = f_evolucion_capital(df)
data_min = data['profit_d'].min()

posicion_min = data['profit_d'].idxmin()
data_max = data[0:posicion_min+1]['profit_acm_d'].max()


posicion_max = data[0:posicion_min+1]['profit_acm_d'].idxmax()


fecha_inicial_dd = data['time'][posicion_max]
fecha_final_dd = data['time'][posicion_min]

<ipython-input-19-e78c21a7386e>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

In [25]:
# Drown up de los -812.60 a los 1009.75
data  = f_evolucion_capital(df)
data_min_du = data['profit_d'].min()
data_max_du = data['profit_d'].max()

posicion_max = data['profit_d'].idxmax()
posicion_min = data['profit_d'].idxmin()


fecha_inicial_du = data['time'][posicion_min]
fecha_final_du = data['time'][posicion_max]

<ipython-input-19-e78c21a7386e>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit_acm_d'][i+1] = data['profit_d'][i+1] + data['profit_acm_d'][i]

In [26]:
estadisticas = pd.DataFrame()
estadisticas['metrica'] = ['sharpe_original', 'sharpe_actualizado', 'drawdown_capi', 'drawdown_capi', 
                           'drawdown_capi', 'drawup_capi', 'drawup_capi', 'drawup_capi']
estadisticas[''] = ['Cantidad', 'Cantidad', 'Fecha Inicial', 'Fecha Final', 'DrawDown $ (capital)',
                    'Fecha Inicial', 'Fecha Final', 'DrawDown $ (capital)']
estadisticas['Valor'] = [Sharpe_O, Sharpe_A, fecha_inicial_dd, fecha_final_dd, data_min, fecha_inicial_du,
                         fecha_final_du, data_max_du]
estadisticas

              metrica                                      Valor
0     sharpe_original              Cantidad           -22.530763
1  sharpe_actualizado              Cantidad                  1.0
2       drawdown_capi         Fecha Inicial  2021-09-22 00:00:00
3       drawdown_capi           Fecha Final  2021-09-23 00:00:00
4       drawdown_capi  DrawDown $ (capital)              -831.39
5         drawup_capi         Fecha Inicial  2021-09-23 00:00:00
6         drawup_capi           Fecha Final  2021-09-20 00:00:00
7         drawup_capi  DrawDown $ (capital)               129.18